{% extends '/base.html' %}
{% block content %}

        <main class="container_select">
          <form>
            <div class="mb-3">
              <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                <option selected>Cambiar de equipo favorito</option>
                {% for team in teams %}
                  <option value="{{team[0]}}">{{team[1]}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Cambiar de correo</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">El correo no sera compartido con nadie.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Cambiar de contraseña</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
              <span id="passwordHelpInline" class="form-text">
                Debe contener al menos 8 caracteres.
              </span>
            </div>
            
            <button type="submit" class="btn btn-primary">Enviar</button>
          </form>
        </main>
        
  

  <script> 
    ses="{{ses}}";
    ron="{{rond}}";
  </script>      
  <script src="{{url_for('static', filename='js/script_puntos.js')}}"></script>
  
      {% endblock %}