{% extends '/base.html' %}
{% block content %}

      
        <main class="container_select">
          <div id="sportmonks-widget" data-widget="livescore" data-info="jhd23VtDDUfxGeGpAEXrTPwd/LrLupxd64E00fdH5u3RLjmuxysT4xT7oDFqDVs7NBKsfhAusk0dcLN9+laZZUIE556w6/sZDv+Z23D6w5Z3ea8QcJmKiNZHY6o9VBgyuj9umP1EyhqgzOAthu4Kngpi24gcFDbYdvplZNcRv8U17UrAZ4eYr/pr+1LbBXe6onRXaQDJddvfgtKMTRo/IC+LzOZyweAwfWmlqpF1Dn2pzbdlDBQ0KzGsX8UPZa/4WY4dtPFabsEuS3H0pZ80rBe353652qAM+Ohc9gleFZkj4M2w11IFaiVs9KX/9fak3F62yncLhD2VqAwdHodHbOASjOqxcDTkEgTGDfkjFlBAip4wqI5MkhxDxHeImJ3yTD7JW4bp+yuKYSdAmM/hqG3Su1Vx1I1VGrqeb8fMrbgAwBg6biQ6h7O3DOdCS8+5L8F4ekVZsdLeJbVS/lip6DDY1Jvoh+QF6cirDDFsTjwUKESbrU06PpiD5HmNgLN+XaA4dE+06oRX8TLLbVthiaxCtLRjL1bWw3+uZxIKLBvMOQXJhdTdFkjj9KvHdIrtimbNHQNAraKhajp3H/slMDHLdNBh5QKdCNBxAaXRYKP3HfuPste+pbVXLYDc2GYhvpgW/Jn7RRkBog7WP+JwMn3S3XcLHfmuV7HK3Dw4R08=" data-theme="dark" data-tz="America/La_Paz"></div>

        </main>
        
        

        



        <script type="text/javascript" src="https://widgets.sportmonks.com/js/app.js">
          
        </script>


      {% endblock %}