<link rel="stylesheet" href="{{url_for('static', filename='css/estilos.css')}}">
{% for row in employeelist %} 
<table class="datos-jugador" border='0' width='100%'>
    <tr>
        <td width="100"><img src="{{row[0]}}">
        <td style="padding:10px;">
        <p><b>Nombre:</b> {{row[1]}}</p>
        <p><b>Posición:</b> {{row[2]}}</p>
        <p><b>Equipo:</b> {{row[3]}}</p>
        </td>
        
    </tr>
</table>
<div id="tala_totales">


    <table class="table datos">
      <thead class="table-dark">
        
          <tr>
            <th scope="col"> </th>
            {% if totales[1] != 0 %}
                <th scope="col" id="cab_1">Min</th>
            {% endif %}
            {% if totales[2] != 0 %}
                <th scope="col" id="cab_2">P.Imb</th>
            {% endif %}
            {% if totales[3] != 0 %}
                <th scope="col" id="cab_3">Gol</th>
            {% endif %}
            {% if totales[4] != 0 %}
                <th scope="col" id="cab_4">Asist</th>
            {% endif %}
            {% if totales[5] != 0 %} 
                <th scope="col" id="cab_5"><img src= /static/images/YC.png class="img-responsive" id="tarjeta"></th>
            {% endif %}
            {% if totales[6] != 0 %}
                <th scope="col" id="cab_6"><img src= /static/images/RC.png class="img-responsive" id="tarjeta"></th>
            {% endif %}
            {% if totales[8] != 0 %}
                <th scope="col" id="cab_7">Pen_Falla</th>
            {% endif %}
            <th scope="col" id="cab_8">Pts</th>
            
          </tr>
      </thead>
      <tbody>
          <tr>
            <th>   </th>
            {% if totales[1] != 0 %}
                <th scope="col" id="col_1" data-col="1">{{totales[1]}}</th>
            {% endif %}
            {% if totales[2] != 0 %}
                <th scope="col" id="col_2" data-col="2">{{totales[2]}}</th>
            {% endif %}
            {% if totales[3] != 0 %}
                <th scope="col" id="col_3" data-col="3">{{totales[3]}}</th>
            {% endif %}
            {% if totales[4] != 0 %}
                <th scope="col" id="col_4" data-col="4">{{totales[4]}}</th>
            {% endif %}
            {% if totales[5] != 0 %} 
                <th scope="col" id="col_5" data-col="5">{{totales[5]}}</th>
            {% endif %}
            {% if totales[6] != 0 %} 
                <th scope="col" id="col_6" data-col="6">{{totales[6]}}</th>
            {% endif %}
            {% if totales[8] != 0 %}
                <th scope="col" id="col_7" data-col="7">{{totales[8]}}</th>
            {% endif %}
            <th scope="col">{{totales[7]}}</th>
            
           </tr>
        </tbody>                
    </table>
</div>


{% endfor %}


